# R coding
.Rhistory
*.RData
*.RProj.user
*.Rproj
.Renviron
.DS_Store
Renviron
scripts/r/THEV_rnaseq_analyses.Rproj


Hisat2_Analyses/Genome_files
# .bam and other large files
!results/hisat2/coverage/*
*temp*
*.sam
*.bam
*.bai
# raw sequence data (fastq files)
trimmedReads/*



# snakemake
.snakemake
.Rproj.user
