# Raw files
raw_files/annotations/turkey*
raw_files/genome_file/*
raw_files/host_virus_genome_index/*
wet_lab_validation/validation_gels/*.tif

# R coding
.Rhistory
*.RData
*.RProj.user
*.Rproj
.Renviron
.DS_Store
Renviron
scripts/r/THEV_rnaseq_analyses.Rproj


Hisat2_Analyses/Genome_files
# .bam and other large files
!results/hisat2/coverage/*
*temp*
*.sam
*.bam
*.bai
# raw sequence data (fastq files)
trimmedReads/*



# snakemake
.snakemake
.Rproj.user

.vscode
*.fai

results/ballgown/*
results/abundances/*

# laTeX files
manuscript_thev_transcriptome_files/*

reviewer_comments.*