# R coding
.Rhistory
*.RData
*.RProj.user
*.Rproj
.Renviron
.DS_Store
Renviron
scripts/r/THEV_rnaseq_analyses.Rproj


Hisat2_Analyses/Genome_files
# .bam and other large files
results/hisat2/*
!results/hisat2/coverage/*

# raw sequence data (fastq files)
trimmedReads/*

*temp*
*.sam
*.bam

# snakemake
.snakemake
.Rproj.user
